@layout("/DatiManage/stuDati/datiindex.html"){

	<!-- Main -->

	<section class="main-body">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<p class="drescription">这是最坏的时代，也是最好的时代。我们这代人，被焦虑追逐，<span class="orange">又在焦虑中清醒。</span> <br>成功的定义是多样的，时代里不同人有不同的分工和命运，也有各自不同的幸福。安于现状或不甘如此都是每个人自己的内心意愿，他人不可强求。</p>
				</div>
			</div>
			<div class="tiles">
				<div class="row">
					<div class="col-md-6">
						<div class="a">
							<a href="#test-popup-1" class="open-popup-link">
								<img src="${ctxPath}/static/images/1.jpg" class="img-responsive" alt="Responsive image">
								<div class="img-hover glass">
									<div class="c-table">
										<div class="ct-cell">
											<h3 class="img-title">症状自评量表-SCL90</h3>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div id="test-popup-1" class="white-popup mfp-hide">
							<div class="container-fluid">
								<div class="row">
									<div class="pop-up-color">
										<div class="col-md-8 p-l-0 p-r-0">
											<img src="${ctxPath}/static/images/1.jpg" class="img-responsive" alt="Responsive image">
										</div>
										<div class="col-md-4">
											<div>
												<h2 class="popup-head">症状自评量表-SCL90</h2>
											</div>
											<div>
												<p class="popup-parapraph">
													症状自评量表（Self-reporting Inventory)，又名90项症状清单（SCL-90），时也叫做Hopkin's症状清单（HSCL，编制年代早于SCL-90，作者为同一人，HCSL最早版编于1954年）。于1975年编制，其作者是德若伽提斯（L.R.Derogatis)。
													<br>
													<br>该量表共有90个项目，包含有较广泛的精神病症状学内容，从感觉、情感、思维、意识、行为直至生活习惯、人际关系、饮食睡眠等，均有涉及，并采用10个因子分别反映10个方面的心理症状情况。 </p>
												</div>
												<div class="pop-up-icon">
													<div class="row">
															<ul class="text-center popup-social-contact">
																<li class="popup-social-icons">
																	<a href="${ctxPath}/stuDati/stuDati_scl90" title="做题"><i class="fa fa-toggle-right  fa-2x"></i></a>
																</li>
																<li class="popup-social-icons">
																	<a href="#" title="刷新"><i class="fa fa-undo fa-2x"></i></a>
																</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="a">
								<a href="#test-popup-2" class="open-popup-link">
									<img src="${ctxPath}/static/images/2.jpg" class="img-responsive" alt="Responsive image">
									<div class="img-hover shoes-glass">
										<div class="c-table">
											<div class="ct-cell">
												<h3 class="img-title">中文Frost多维度完美主义问卷</h3>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div id="test-popup-2" class="white-popup mfp-hide">
								<div class="container-fluid">
									<div class="row">
										<div class="pop-up-color">
											<div class="col-md-8 p-l-0 p-r-0">
												<img src="${ctxPath}/static/images/2.jpg" class="img-responsive" alt="Responsive image">
											</div>
											<div class="col-md-4">
												<div>
													<h2 class="popup-head">中文Frost多维度完美主义问卷</h2>
												</div>
												<div>
													<p class="popup-parapraph"><h4>·测什么·</h4><br>
														完美是人们渴望得到并追求的一种理念和动力，其实我们每个人，或多或少都对完美有一定的追求。适度的追求可以让我们做事更有动力、更加精益求轻，但过度的完美主义会让我们出现内心焦急、烦躁等症状，这不仅会降低我们做事的效率，更有甚者，还会对我们的我们的日常生活、工作和人际交往产生不良影响。
													</p>
													<div class="pop-up-icon">
														<div class="row">
															<ul class="text-center popup-social-contact">
																<li class="popup-social-icons">
																	<a href="#" title="做题"><i class="fa fa-toggle-right  fa-2x"></i></a>
																</li>
																<li class="popup-social-icons">
																	<a href="#" title="刷新"><i class="fa fa-undo fa-2x"></i></a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><br>
						<div class="row">
							<div class="col-md-4">
								<div class="a">
									<a href="#test-popup-3" class="open-popup-link">
										<img src="${ctxPath}/static/images/3.jpg" class="img-responsive" alt="Responsive image">
										<div class="img-hover hand-parts">
											<div class="c-table">
												<div class="ct-cell">
													<h3 class="img-title">佛罗里达强迫清单</h3>
												</div>
											</div>
										</div>
									</a>
								</div>
								<div id="test-popup-3" class="white-popup mfp-hide">
									<div class="container-fluid">
										<div class="row">
											<div class="pop-up-color">
												<div class="col-md-8 p-l-0 p-r-0">
													<img src="${ctxPath}/static/images/3.jpg" class="img-responsive" alt="Responsive image">
												</div>
												<div class="col-md-4">
													<div>
														<h2 class="popup-head">佛罗里达强迫清单</h2>
													</div>
													<div>
														<p class="popup-parapraph"><h4>·测什么·</h4>强迫分为思维上的强迫和行为上的强迫。绝大多数人在生命的某些时刻，都会出现一些强迫性思维或行为，但这并不等于强迫症。作为焦虑障碍的一种，强迫症的典型特点是有意识的强迫与反强迫并存，一些毫无意义、甚至违背自己意愿的想法或冲动反反复复侵入患者的日常生活。</p>
														<h4>·专业度·</h4>
														心之语为你推荐国际通用的强迫测量问卷【佛罗里达强迫清单，FOCI】, 它由美国佛罗里达大学的Wayne Goodman和Eric Storch教授联合编制，该量表中文版已由上海交通大学医学院附属瑞金医院和简单心理共同翻译完成，经过检验，其在中国人群中的信效度良好。
													</div>
													<div class="pop-up-icon">
														<div class="row">
															<ul class="text-center popup-social-contact">
																<li class="popup-social-icons">
																	<a href="#" title="做题"><i class="fa fa-toggle-right  fa-2x"></i></a>
																</li>
																<li class="popup-social-icons">
																	<a href="#" title="刷新"><i class="fa fa-undo fa-2x"></i></a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="a">
									<a href="#test-popup-4" class="open-popup-link">
										<img src="${ctxPath}/static/images/4.jpg" class="img-responsive" alt="Responsive image">
										<div class="img-hover table-with-phone">
											<div class="c-table">
												<div class="ct-cell">
													<h3 class="img-title">亲密关系体验量表</h3>
												</div>
											</div>
										</div>
									</a>
								</div>
								<div id="test-popup-4" class="white-popup mfp-hide">
									<div class="container-fluid">
										<div class="row">
											<div class="pop-up-color">
												<div class="col-md-8 p-l-0 p-r-0">
													<img src="${ctxPath}/static/images/4.jpg" class="img-responsive" alt="Responsive image">
												</div>
												<div class="col-md-4">
													<div>
														<h2 class="popup-head">亲密关系体验量表</h2>
													</div>
													<div>
														<p class="popup-parapraph"><h4>·测什么·</h4>在亲密关系中，每个人都有自己的依恋类型，它从我们婴儿时与父母的相处中发展而出，影响着我们在爱情中的行为和表现。在恋爱中，你属于那种依恋类型呢？
															<h4>·专业度·</h4>
														心之语为你推荐国际通用的【亲密关系体验量表 ERC】，此量表由加州大学戴维斯分校的Phillip Shaver教授等人在已有的成人依恋量表的基础上，通过分析及实际施测编制完成，是目前国外运用最为广泛的亲密关系测评问卷之一。</p>
													</div>
													<div class="pop-up-icon">
														<div class="row">
															<ul class="text-center popup-social-contact">
																<li class="popup-social-icons">
																	<a href="#" title="做题"><i class="fa fa-toggle-right  fa-2x"></i></a>
																</li>
																<li class="popup-social-icons">
																	<a href="#" title="刷新"><i class="fa fa-undo fa-2x"></i></a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="a">
									<a href="#test-popup-5" class="open-popup-link">
										<img src="${ctxPath}/static/images/5.jpg" class="img-responsive" alt="Responsive image">
										<div class="img-hover orange-shoe">
											<div class="c-table">
												<div class="ct-cell">
													<h3 class="img-title">DASS-21 抑郁、焦虑和压力测评量表</h3>
												</div>
											</div>
										</div>
									</a>
								</div>
								<div id="test-popup-5" class="white-popup mfp-hide">
									<div class="container-fluid">
										<div class="row">
											<div class="pop-up-color">
												<div class="col-md-8 p-l-0 p-r-0">
													<img src="${ctxPath}/static/images/5.jpg" class="img-responsive" alt="Responsive image">
												</div>
												<div class="col-md-4">
													<div>
														<h2 class="popup-head">DASS-21 抑郁、焦虑和压力测评量表</h2>
													</div>
													<div>
														<p class="popup-parapraph"><h4>·测什么·</h4>
															自出生起，情绪便时时刻刻伴随着我们的一举一动，正是因为它太常见，所以经常被我们忽略。在都市生活中，抑郁、焦虑和压力，已经成为公认的三大情绪问题，当这些情绪超过了一定范围，就会影响我们的日常工作和生活。
															<h4>·专业度·</h4>
														简单心理为你推荐国际通用的抑郁、焦虑和压力评估量表【DASS-21】，此量表最初由澳大利亚新南威尔士大学的科学家们开发并制定，是评测个人负性情绪水平的有效工具。</p>
													</div>
													<div class="pop-up-icon">
														<div class="row">
															<ul class="text-center popup-social-contact">
																<li class="popup-social-icons">
																	<a href="#" title="做题"><i class="fa fa-toggle-right  fa-2x"></i></a>
																</li>
																<li class="popup-social-icons">
																	<a href="#" title="刷新"><i class="fa fa-undo fa-2x"></i></a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><br>
					</div>
				</div>
			</div>
		</section>
		<section class="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h1>联系我们</h1>
						<form>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control gt" name="name" id="name" placeholder="姓名"/>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" class="form-control gt" name="email" id="email" placeholder="邮箱" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="from-group">
										<textarea class="form-control gt" rows="2" name="message" id="message" placeholder="留言信息"></textarea>
									</div>
								</div>
							</div>
						</form>
						<div class="form-group"  align="right">
							<div class="col-sm-offset-2 col-sm-10">
								<a href="#" type="submit" class="btn btn-tobais btn-send-2">发送</a>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</section>

		<section class="footer">		
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-xs-9">
							<p class="right-color">Copyright &copy; 2018. 心之语 All rights reserved.<a target="_blank" href="https://github.com/xiaoyanse">xiaoyanse</a></p>
						</div>
						<div class="col-sm-4 col-xs-3" align="right">
							<a href="#" id="back-to-top" class="top text-right" >TOP <i class="fa fa-angle-up" aria-hidden="true"></i> </a>
						</div>
					</div>
				</div>											
			</footer>
        </section>
        
        @}
