@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id，key" value="${item.id}" underline="true"/>
                            <#input id="yuansu" name="元素名称" value="${item.yuansu}" underline="true"/>
                            <#input id="xuhao" name="序号，可以是数字或者汉字" value="${item.xuhao}" underline="true"/>
                            <#input id="name" name="任务名称" value="${item.name}" underline="true"/>
                            <#input id="shuoming" name="任务说明" value="${item.shuoming}" />
                </div>

                <div class="col-sm-6">
                            <#input id="jifen" name="积分规则" value="${item.jifen}" underline="true"/>
                            <#input id="manfen" name="满分" value="${item.manfen}" underline="true"/>
                            <#input id="address" name="场地描述" value="${item.address}" underline="true"/>
                            <#input id="way" name="完成方法（指定地点/随地）" value="${item.way}" underline="true"/>
                            <#input id="ifdone" name="是否完成" value="${item.ifdone}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="YuanxingInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="YuanxingInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/XihuYuanxing/yuanxing/yuanxing_info.js"></script>
@}
