@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" value="${item.id}" underline="true"/>
                            <#input id="timuShitiNo" name="题目对应的试题编号" value="${item.timuShitiNo}" underline="true"/>
                            <#input id="timuName" name="题目内容" value="${item.timuName}" underline="true"/>
                            <#input id="timuType" name="题目类型（0是单选，1是多选，2是填空）" value="${item.timuType}" underline="true"/>
                            <#input id="timuOp1" name="第一个选项" value="${item.timuOp1}" underline="true"/>
                            <#input id="timuOp1Score" name="第一个选项对应的分数" value="${item.timuOp1Score}" underline="true"/>
                            <#input id="timuOp2" name="第二个选项" value="${item.timuOp2}" underline="true"/>
                            <#input id="timuOp2Score" name="第二个选项对应的分数" value="${item.timuOp2Score}" underline="true"/>
                            <#input id="timuOp3" name="第三个选项" value="${item.timuOp3}" />
                </div>

                <div class="col-sm-6">
                            <#input id="timuOp3Score" name="第三个选项对应的分数" value="${item.timuOp3Score}" underline="true"/>
                            <#input id="timuOp4" name="第四个选项" value="${item.timuOp4}" underline="true"/>
                            <#input id="timuOp4Score" name="第四个选项对应的分数" value="${item.timuOp4Score}" underline="true"/>
                            <#input id="timuOp5" name="第五个选项" value="${item.timuOp5}" underline="true"/>
                            <#input id="timuOp5Score" name="第五个选项对应的分数" value="${item.timuOp5Score}" underline="true"/>
                            <#input id="timuOp6" name="第六个选项" value="${item.timuOp6}" underline="true"/>
                            <#input id="timuOp6Score" name="第六个选项对应的分数" value="${item.timuOp6Score}" underline="true"/>
                            <#input id="timuAddTime" name="试题添加时间" value="${item.timuAddTime}" underline="true"/>
                            <#input id="timuAddMagNo" name="管理员编号" value="${item.timuAddMagNo}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SysTimuInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SysTimuInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/DatiManage/sysTimu/sysTimu_info.js"></script>
@}
