@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>题目管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Timu.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="TimuTableToolbar" role="group">
                            @if(shiro.hasPermission("/timu/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Timu.openAddTimu()"/>
                            @}
                            @if(shiro.hasPermission("/timu/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Timu.openTimuDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/timu/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Timu.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="TimuTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/TimuManage/timu/timu.js"></script>
@}
